.footer-basic {
  padding: 40px 0;
  background-color: #ffffff;
  color: #4b4c4d;
}

.footer-basic .copyright {
  text-align: center;
  font-size: 14px;
  color: rgb(68, 68, 68);
  margin-bottom: 0;
}
