#box-1 {
  height: 92vh;
  width: 100%;
  background-image: url(../../assets/img/i1.jpg);
  background-size: cover;
  background-attachment: fixed;
}

#box-2 {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
}

#box-3 {
  width: 100%;
}

#box-4 {
  width: 100%;
  background-image: url(../../assets/img/i2.jpg);
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
}

#box-5 {
  width: 100%;
  text-align: center;
}
