.footer-basic {
  padding: 40px 0;
  background-color: #ffffff;
  color: #4b4c4d;
}

.footer-basic .copyright {
  text-align: center;
  font-size: 14px;
  color: rgb(68, 68, 68);
  margin-bottom: 0;
}

.border-3-30 {
  border-bottom: black 3px solid;
  width: 30%;
}

#box-1 {
  height: 92vh;
  width: 100%;
  background-image: url(../../assets/img/i1.jpg);
  background-size: cover;
  background-attachment: fixed;
}

#box-2 {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
}

#box-3 {
  width: 100%;
}

#box-4 {
  width: 100%;
  background-image: url(../../assets/img/i2.jpg);
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
}

#box-5 {
  width: 100%;
  text-align: center;
}

.navbar-nav {
  margin-left: auto;
}
.nav-link.active {
  font-weight: bold;
}
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.75);
}
.navbar {
  height: 8vh;
}
#box-1 > .row {
  text-align: center;
  height: 90vh;
  width: 100%;
}
html {
  scroll-behavior: smooth;
}

.row {
  margin: 0;
}

.progress-bar {
  border-top-right-radius: 40px !important;
  border-bottom-right-radius: 40px !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.progress {
  border-radius: 40px !important;
  background-color: white !important;

  /* Changes below */
  -webkit-box-shadow: inset 0 0 0 2px #0dcaf0 !important;
  -moz-box-shadow: inset 0 0 0 2px #0dcaf0 !important;
  box-shadow: inset 0 0 0 2px #0dcaf0 !important;
  border: none;
}

@media (orientation: portrait) {
  .card-header > h1 {
    font-size: 3.5vh;
  }
  h3 {
    font-size: 1.9vh;
  }
  h4 {
    font-size: 1.55vh;
  }
}
@media (orientation: landscape) {
  h3 {
    font-size: 2vw;
  }
  h4 {
    font-size: 1.6vw;
  }
}
